
@{
    ViewBag.Title = "Index";
}

<h2>IFrame Loading Page</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="http://localhost:62241"></iframe>
</div>
